{% extends "cog/common/layout_center.html" %}

{% load static %}

{% block extrahead %}
  <script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/topojson.min.js' %}"></script>
  {% include 'cog/wps/_wps_config_js.html' %}
{% endblock %}

{% block main %}

<div class="yui-skin-sam">
  <form name="configuration" action="{% url 'wps_process' %}" onsubmit="return validateForm();" method="POST">
    <input type="hidden" name="domain_modified" id="domain_modified" value="false" />
    <input type="hidden" name="files" id="files" value="{{ files|join:',' }}" />
    <table id="configuration">
      <tr>
        <td style="width: 10%;">
          <h1 class="title">Configuration</h1>
        </td>
      </tr>
      <tr>
        <td>
          <label for="process"><strong>Process</strong></label>
        </td>
        <td>
          <select name="process" id="process">
            <option value="CDAT.aggregate">CDAT.aggregate</option>
            <option value="CDAT.subset">CDAT.subset</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label for="variable"><strong>Variable</strong></label>
        </td>
        <td>
          <select name="variable" id="variable">
          {% for var in variables %}
            <option value="{{ var }}">{{ var }}</option>
          {% endfor %}
          </select>
        </td>
      </tr>
      <tr style="height: 28px;">
        <td>
          <label for="regrid"><strong>Regrid</strong></label>
        </td>
        <td id="regrid-col">
          <select name="regrid" id="regrid"></select>
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" value="Download" />
        </td>
      </tr>
    </table>
    <br />
    <h1 class="title">Domain</h1>
    <div class="span-6">
      <input name="dimensions" id="dimensions" type="hidden" />
      <table id="domain">
        <tr>
          <td>
            <label for="domains"><strong>Domains</strong></label>
          </td>
          <td>
            <select id="domains"></select>
            <input id="add-dimension" type="button" value="Add" />
          </td>
        </tr>
        <tr id="time">
        {%  if time_freq %}
          <td><strong>Time</strong> ({{ time_freq }})</td>
        {% else %}
          <td><strong>Time</strong></td>
        {% endif %}
          <td>
            <label for="start">Start</label>
            <input name="time-start" id="time-start" type="datetime" placeholder="Y/M/D H:M:S" value="{{ time.0|date:'Y/m/d g:i:s' }}" />
            <label for="stop">Stop</label>
            <input name="time-stop" id="time-stop" type="datetime" placeholder="Y/M/D H:M:S" value="{{ time.1|date:'Y/m/d g:i:s' }}" />
            <label for="step">Step</label>
            <input name="time-step" id="time-step" type="number" value="1" />
          </td>
        </tr>
        <tr id="longitude">
          <td><strong>Longitude</strong> (Degrees)</td>
          <td>
            <label for="lon-start">Start</label>
            <input name="lon-start" id="lon-start" type="number" value="0" />
            <label for="lon-stop">Stop</label>
            <input name="lon-stop" id="lon-stop" type="number" value="360" />
            <label for="lon-step">Step</label>
            <input name="lon-step" id="lon-step" type="number" value="1" />
          </td>
        </tr>
        <tr id="latitude">
          <td><strong>Latitude</strong> (Degrees)</td>
          <td>
            <label for="lat-start">Start</label>
            <input name="lat-start" id="lat-start" type="number" value="90" />
            <label for="lat-stop">Stop</label>
            <input name="lat-stop" id="lat-stop" type="number" value="-90" />
            <label for="lat-step">Step</label>
            <input name="lat-step" id="lat-step" type="number" value="1" />
          </td>
        </tr>
      </table>
    </div>
    <div id="map" class="span-23 last">
      <svg />
    </div>
  </form>
</div>

{% endblock %}
